name: Publish

on:
  release:
    types: [ published ]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: npm-deploy
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Setup Node v22.x
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm to latest
        run: npm install -g npm@latest

      - name: Echo npm version
        run: npm --version

      - name: Clean Install Dependencies
        run: npm ci

      - name: Build itty-compression package
        run: npm run build

      - name: Run ESLint
        run: npm run lint

      - name: Run tests
        run: npm run test:once

      - name: Publish to npm
        run: npm publish
