name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ 18.x, 20.x, 22.x, 24.x ]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Setup Node v${{ matrix.version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: ${{ matrix.version }}
          cache: "npm"

      - name: Clean Install Dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Run Vitest
        run: npm run test:once
