name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ 18.x, 20.x, 22.x, 24.x ]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Setup Node v${{ matrix.version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: ${{ matrix.version }}
          cache: "npm"

      - name: Clean Install Dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Run Vitest
        run: npm run test:once
