name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ 18.x, 20.x, 22.x, 24.x ]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - name: Setup Node v${{ matrix.version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903  # v6.0.0
        with:
          node-version: ${{ matrix.version }}
          cache: "npm"

      - name: Clean Install Dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Run Vitest
        run: npm run test:once
